ul 
         {
             list-style-type: none;
             margin: 0;
             padding: 0;
             overflow: hidden;
             background-color: #8ba6ca;
         }
li
         {
             float: left;
         }
li a 
         {
           display: block;
           color: white;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
         } 

ol li
         {
          clear: both;
          padding: 10px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         }
h2
        {
           text-align: center; 
        }
body
        {
            background-color: lightgray;
        }
hr
        {
            border-color: rgb(10, 181, 233);
            border-style: ridge;
            border-width: 10px 5px 5px 10px;
        }
mark
        {
           color: rgb(243, 9, 40); 
           background-color: aqua;
        }