ul 
         {
             list-style-type: none;
             margin: 0;
             padding: 0;
             overflow: hidden;
             background-color: #8ba6ca;
         }
li
         {
             float: left;
         }
li a 
         {
           display: block;
           color: white;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
         } 

ol li
         {
          clear: both;
          padding: 10px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         }